@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply text-sm bg-gray-700 border-0 rounded;
  }
  .label {
    @apply text-xs text-gray-400;
  }
  .btn {
    @apply px-4 py-2 text-sm bg-gray-700 rounded hover:bg-gray-600;
  }
}

.frost-0 {
  background: inherit;
  backdrop-filter: blur(0px);
}

.frost-10 {
  background: inherit;
  backdrop-filter: blur(10px);
  filter: brightness(20%);
}

.frost-20 {
  background: inherit;
  backdrop-filter: blur(20px);
}
